*{
  padding: 0;
  margin: 0;
}
.header{
  width: 100%;
  height: 670px;
  background-color: lightblue;
  position: relative;
}
.header-image{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../assets/img/bg.jpg');
}
