*{
  padding: 0;
  margin: 0;
  font-family: 'San Francisco', sans-serif;
}
body{
  background: #f0f0f0;
}
.single-header{
  width: 100%;
  height: 150px;
  -webkit-background: linear-gradient(120deg, #2b5876, #4e4376);
  -moz-background: linear-gradient(120deg, #2b5876, #4e4376);
  -o-background: linear-gradient(120deg, #2b5876, #4e4376);
  background: linear-gradient(120deg, #2b5876, #4e4376);
  position: relative;
  background-image: url('http://localhost/iqbalfasri.net/assets/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}
.single-header h1{
  z-index: 9999;
  display: block;
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-size: 42px;
  line-height: 150px;
}
.single-header-overlay{
  width: 100%;
  height: 150px;
  position: absolute;
  -webkit-background: linear-gradient(120deg, #2b5876, #4e4376);
  -moz-background: linear-gradient(120deg, #2b5876, #4e4376);
  -o-background: linear-gradient(120deg, #2b5876, #4e4376);
  background: linear-gradient(120deg, #2b5876, #4e4376);
  opacity: .8;
}
