*{
  padding: 0;
  margin: 0;
  font-family: 'San Francisco', sans-serif;
}
.header{
  width: 100%;
  height: 670px;
  position: relative;
  background-image: url('http://localhost/iqbalfasri.net/assets/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}
.header-overlay{
  width: 100%;
  height: 670px;
  position: absolute;
  -webkit-background: linear-gradient(120deg, #2b5876, #4e4376);
  -moz-background: linear-gradient(120deg, #2b5876, #4e4376);
  -o-background: linear-gradient(120deg, #2b5876, #4e4376);
  background: linear-gradient(120deg, #2b5876, #4e4376);
  opacity: .9;
}
.container .header-text{
  z-index: -9999;
}
.header-text{
  position: relative;
  padding-top: 15%;
  width: 100%;
}
.header-text h1{
  display: block;
  font-size: 72px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 300;

  /*text-shadow: 2px 5px 10px rgba(0,0,0,.5);*/
}
.header-text h3{
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 100;

  /*text-shadow: 2px 5px 20px rgba(0,0,0,.9);*/
}
.header-text a{
  margin: 50px 5px auto;
  font-weight: 300;
}


/* Button Style */
.btn-header-style-1{
  background-color: #1abc9c;
  width: 170px;
  color: #fff;
  transition-duration: .25s;
  border: 2px solid #1abc9c !important;
  box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.2);
}
.btn-header-style-1:hover{
  background-color: #fff;
  width: 170px;
  color: #1abc9c !important;
  border: 2px solid #fff !important;
}
.btn-header-style-2{
  display: block;
  background-color: transparent;
  width: 170px;
  color: #fff;
  border: 2px solid #1abc9c !important;
  box-shadow: 0px 1px 35px rgba(0, 0, 0, 0.2);
  transition-duration: .25s;
}
.btn-header-style-2:hover{
  background-color: #1abc9c;
  width: 170px;
  color: #fff !important;
}

/* Navbar Custom */
.navbar-nav > li > a{
  color: #fff;
  font-weight: 500;
  transition-duration: .25s;
  border-bottom: 2px solid transparent;
}
.navbar-nav > li > a:hover{
  color: #fff;
  background-color: transparent !important;
  border-bottom: 2px solid #fff;
}
.navbar-nav > li > a.active{
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #fff;
}
.navbar-transparent .navbar-nav li a{
  line-height: 45px;
}
.navbar-transparent{
  transition: .3s all ease;
  height: 80px;
  background-color: transparent ;
}
.navbar-transparent .navbar-nav li a:focus{
  color: #1abc9c;
  background-color: #fff;
}
.navbar-custom{
  height: 60px;
  transition: .3s all ease;
  background-color: #fff;
}
.navbar-custom .navbar-nav li a{
  line-height: 30px;
  color: #444;
  font-weight: 500;
  border: none;
  background-color: #fff;
}
.navbar-custom .navbar-nav li a.active{
  color: #1abc9c;
  font-weight: 500;
}
.navbar-custom li a:hover{
  color: #1abc9c;
}
.navbar-toggle{
  background-color: #fff !important;
}
.navbar-toggle span.icon-bar{
  background-color: #1abc9c;
}
.navbar-brand{
  line-height: 30px;
}
.navbar-header > .navbar-brand{
  display: block;
  color: #fff;
  line-height: 45px;
  transition: .3s all ease;
}
.navbar-custom .navbar-brand{
  line-height: 30px;
  color: #1abc9c;
}


/* Content */
.content-section{
  margin-top: 50px;
}
hr.line{
  border-bottom: 2px solid #fff;
  max-width: 50px;
  margin: 10px auto 30px;
  position: relative;
  z-index: 9999;
}

hr.line2{
  border-bottom: 2px solid #1abc9c;
  max-width: 50px;
  margin: 10px auto 30px;
}

.section1{
  width: 100%;
  height: auto;
  background-color: #1abc9c;
}
.about{
  padding: 100px 0;
}
.about h2{
  color: #fff;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}
.about p{
  color: #fff;
  font-weight: 200;
  line-height: 1.5;
  color: rgba(255,255,255,.8);
}
.about .img-about{
  margin-top: -50px;
}

.section2{
  width: 100%;
  height: auto;
  background-color: #fff;
  padding-bottom: 50px;
}
.interesting{
  padding: 100px 0;
}
.interesting h2{
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}
.int-box{
  max-width: 300px;
  min-height: 300px;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: .2s ease-in;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.int-box:hover{
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}
.int-box .circle > i{
  color: #1abc9c;
}
.int-box h3{
  margin: 15px;
  font-weight: 500;
  font-size: 22px;
}
.int-box p{
  color: #777;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
}

.section3{
  width: 100%;
  height: auto;
  background-color: #222;
  padding-bottom: 50px;
}
.my-project{
  position: relative;
  padding: 100px 0;
  box-sizing: border-box;
}
.my-project h2{
  color: #fff;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}

.my-project .col-md-4{
  padding: 0;
}

.my-project .box-prjct .caption{
  background-color: #fff;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  display: none;
  transition: .3s all ease;
}
.my-project .box-prjct .caption h3{
  font-size: 18px;
  font-weight: 500;
}
.my-project .box-prjct:hover .caption{
  display: block;
  z-index: 9999;
}
.overlay .ovlay-tent{
  position: relative;
  z-index: 9999;
  opacity: 1;
}
.overlay .ovlay-tent h5{
  position: relative;
  font-size: 46px;
  color: #fff;
  opacity: 1;
  margin-top: 70px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}
.overlay .ovlay-tent a{
  max-width: 200px;
  padding: 10px;
  display: block;
  margin: 15px auto 0;
  border: 1px solid #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  transition-duration: .25s;
}
.overlay .ovlay-tent a:hover{
  color: #1abc9c;
  background: #fff;
  text-decoration: none;
}
.box-prjct .overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-background: linear-gradient(120deg, #67B26F, #4ca2cd);
  -moz-background: linear-gradient(120deg, #67B26F, #4ca2cd);
  -o-background: linear-gradient(120deg, #67B26F, #4ca2cd);
  background: linear-gradient(120deg, #67B26F, #4ca2cd);
  opacity: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	transition: .5s ease;
}
.my-project .box-prjct:hover .overlay{
  opacity: 1;

}
.box-prjct img{
  width: 100%;
  height: 100%;
}

/* Contact */
.contact-cont{
  max-width: 550px;
}
.section4{
  width: 100%;
  height: auto;
  background-color: #fff;
}
.contact{
  padding: 100px 0;
  background-color: #fff;
  box-sizing: border-box;
}
.contact h2{
  z-index: 9999;
  position: relative;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}
.contact input[type=text],input[type=email]{
  padding: 25px 20px;
  border: 2px solid #ddd;
  font-size: 16px;
  transition: .5s all ease;
}
.contact input[type=text]:focus,input[type=email]:focus{
  outline: none;
  box-shadow: none;
  border: 2px solid #1abc9c;

}
.contact textarea{
  border: 2px solid #ddd;
  padding: 20px 20px;
  font-size: 16px;
  outline: none;
  transition: .5s all ease;
}
.contact textarea:focus{
  border: 2px solid #ddd;
  padding: 20px 20px;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  border: 2px solid #1abc9c;
}
.contact input[type=submit]{
  padding: 13px;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  font-weight: 400;
  min-width: 100%;
  transition: .3s all ease;
  color: #fff;
  background: #1abc9c;
}
.contact input[type=submit]:hover{
  transition: .3s;
  background: #16a085;
  box-shadow: none;
}
.social-media{
  position: relative;
  width: 100%;
  background-color: #222;
  height: 30px;
}


/* Footer */
.footer-up{
  position: relative;
  z-index: 9999;
  width: 100%;
  min-height: 150px;
  background-color:#1abc9c;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.footer-up h2{
  z-index: 9999;
  position: relative;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
}
.footer-up .circle-soc{
  display: inline-block;
  margin: 30px 10px;
  text-align: center;
  border: 5px solid #fff;;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  transition: .3s all ease-in;
  background: #fff;
}
.footer-up .circle-soc i{
  text-align: center;
  line-height: 70px;
  color: #1abc9c;
}
.footer-up .circle-soc:hover{
  border:5px solid #1abc9c;
}
.footer-down{
  position: relative;
  background-color: #16a085;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
