@media (max-width: 960px){
  .about .img-about{
    margin-top: -20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .navbar-transparent{
    background-color: #fff;
    height: auto;
  }
  .navbar-header > .navbar-brand{
    line-height: normal;
  }
  .navbar-header a.navbar-brand{
    color: #1abc9c;
  }
  .navbar-transparent .navbar-nav li a{
    color: #1abc9c;
    line-height: normal;
    background-color: #fff;
  }
  .navbar-transparent .navbar-nav li a.active{
    color: #fff;
    line-height: normal;
    background-color: #1abc9c;
  }
  .navbar-transparent .navbar-nav li a:hover{
    color: #fff;
    background-color: #1abc9c !important;
    line-height: normal;
  }
  .header-text{
    padding-top: 35%;
  }
  .header-text h1{
    font-size: 42px;
  }
  .header-text p{
    font-size: 20px;
  }
  .about .img-about{
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .footer-up .circle-soc{
    height: 50px;
    width: 50px;
    margin: 40px 10px;
  }
  .footer-up .circle-soc i{
    line-height: 40px;
    font-size: 34px;
  }
  .box-prjct .overlay{
    opacity: .9;
  }
  .my-project .overlay .ovlay-tent h5,a{
    color: #fff;
  }
}
@media (max-width: 480px) {
  .header-text{
    padding-top: 45%;
  }
  .header-text h1{
    font-size: 38px;
  }
  .header-text p{
    font-size: 18px;
  }
  .header-text a{
    margin: 50px auto -40px;
  }
  .box-prjct .overlay .ovlay-tent h5{
    font-size: 28px;
    margin-top: 40px;
  }
  .box-prjct .overlay .ovlay-tent{
    opacity: 1;
  }
}
@media (max-width: 412px) {
  .header-text h1{
    font-size: 52px;
  }
  .header-text p{
    font-size: 12px;
  }
}
